*
!.gitignore
!.editorconfig
!.config/
!.config/fish/
!.config/fish/config.fish
!.config/fish/fish_variables
!.config/k9s/
!.config/k9s/views.yaml
!.config/ghostty/
!.config/ghostty/config
!.config/nvim/**
!.tmux.conf
!.vimium-options.json
!.config/opencode/
!.config/opencode/opencode.json
!.config/opencode/AGENTS.md
!.config/opencode/agents/
!.config/opencode/agents/research.md
!.local/
!.local/bin/
!.local/bin/h265
!.config/i3/
!.config/i3/config
!.config/polybar/
!.config/polybar/**
